@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

:root {
    --primary-color: #9356DC;
    --primary-opacity-color: #9256dc28;
    --secondary-color: #FF79DA;
    --tertiary-color: #99E2D0;
    --grey: #f2f2f2;
}

.primary-color {
    color: var(--primary-color);
}

.secondary-color {
    color: var(--secondary-color);
}

.tertiary-color {
    color: var(--tertiary-color);
}

body {
    font-family: "Roboto";
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.loading-all-page{
    opacity: 0;
    animation: loading-menu 1s both;
    animation-delay: 3s;
}

header {
    padding: 0;
    margin: 0;
}

/* GENERAL BALISE */
p,
h1,
.span-p {
    margin: 5px 0;
}

p,
.span-p {
    font-weight: 300;
}

h1 {
    font-size: 25px;
}

h2,
.title-h2 {
    font-weight: 500;
}

h3 {
    text-transform: uppercase;
    font-weight: 400;
    padding-bottom: 5px;
    border-bottom: 4px solid var(--tertiary-color);
    width: 50px;
}

a {
    color: black;
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
}

.shadow {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 10px;
}

/* GENERAL BALISE */

#main-header {
    display: flex;
    flex-direction: column;
}

#logo,
#localisation {
    display: flex;
    height: 50px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#logo {
    display: flex;
    flex-direction: row;
    box-shadow: rgba(0, 0, 0, 0.14) 0px 3px 4px;
    ;
}

#localisation {
    background-color: #e4e4e4;
    z-index: -1;
}

#logo img {
    width: 150px;
}

#localisation p {
    margin: 0;
    padding: 0 10px;
    font-weight: bold;
}

.explore-left {
    display: none;
}

.explore-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--grey);
    text-align: center;
    padding: 25px;
}

.button {
    align-items: center;
    border: none;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 15px;
    transition: all .2s;
}

.button-explore {
    background: linear-gradient(to bottom right, var(--secondary-color), var(--primary-color));
    border-radius: 100px;
    color: #ffffff;
    height: 50px;
    width: 200px;
    display: flex;
    margin: 20px 0;
    justify-content: center;
    text-align: center;
    align-self: center;
}

.button-explore:hover {
    filter: brightness(125%);
    box-shadow: rgba(0, 0, 0, 0.75) 0px 5px 15px;
}



.button:active {
    filter: brightness(75%);
    box-shadow: rgba(0, 0, 0, 0.75) 0px 10px 20px;
}

#functioning {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 50px 20px;
}

.title-functioning {
    display: flex;
    width: 100%;
    flex: 1;
}

.title-functioning h1 {
    padding: 0;
}

.button-funtioning-list {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.button-functioning {
    background-color: var(--grey);
    border-radius: 25px;
    height: 75px;
    margin: 10px;
    display: flex;
    justify-content: flex-start;
}

.button-functioning:hover {
    background-color: var(--primary-opacity-color);
}

.button-functioning:hover i {
    color: var(--primary-color);
}

.button-functioning i {
    color: grey;
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 15px;
}

.button-functioning p {
    font-weight: bold;
    font-size: 16px;
}


.button-functioning .round-f {
    width: 25px;
    height: 25px;
    border-radius: 20px;
    position: relative;
    right: 15px;
    background: var(--primary-color);
    color: white;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}



#restaurant {
    display: flex;
    flex-direction: column;
    background-color: var(--grey);
    padding: 50px 20px;
}

.card {
    background-color: white;
    border-radius: 20px;
    margin: 15px 0 15px 0;
}

.restaurant-list {
    display: flex;
    flex-direction: column;
}

.result-restaurant {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 250px;
}

.badge {
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    border-radius: 2px;
    margin: 15px 15px;
    height: 25px;
    width: 70px;
}

.badge-display-none {
    display: none;
}

.badge-green {
    background-color: rgb(153, 226, 208);
    color: rgb(0, 135, 102);
    font-weight: 500;
    font-size: 13px;
}

.badge-green:before {
    content: "Nouveau";
}

.result-restaurant .card-img {
    border-radius: 20px 20px 0 0;
    margin: 0;
    height: calc(250px - (100% - 75%));
    width: 100%;
    background-size: cover;
    background-position: center;
}

.img-1 {
    background: url("../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
}

.img-2 {
    background: url("../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
}

.img-3 {
    background: url("../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
}

.img-4 {
    background: url("../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
}

.information-restaurant {
    display: flex;
    flex-direction: column;
    padding: 15px;
    height: calc(100% - 75% - (15px * 2));
}

.information-restaurant h2,
.information-restaurant p {
    margin: 0;
    font-size: 15px;
}

.title-heart {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.title-heart .heart {
    font-size: 22px;
}

.heart:before {
    font-family: 'Font Awesome 5 Free';
    content: "\f004";
    transition: color .2s ease-out;
}

.heart:hover,
.heart:focus {
    font-family: 'Font Awesome 5 Free';
    content: "\f004";
    font-weight: 900;
    background: -webkit-linear-gradient(top, var(--primary-color) 30%, var(--secondary-color) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}


.img-menu {
    height: 350px;
    width: 100%;
    display: flex;
    align-items: flex-end;
    background-size: cover;
    background-position: center;
}

/* #################################### MENU ################################################# */

.arrow-left {
    display: block;
    position: absolute;
    left: 20px;
    font-size: 20px;
}

.title-menu-heart {
    display: flex;
    justify-content: space-between;
    border-radius: 50px 50px 0 0;
    background-color: var(--grey);
    height: auto;
    width: 100%;
    align-items: center;
    padding: 28px;
}

.title-menu-heart h1 {
    font-family: 'Shrikhand', cursive;
}

.title-menu-heart h1,
.title-menu-heart .heart {
    font-size: 28px;
}

.menu-selector {
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin-top: -1px;
    background-color: var(--grey);
}

label {
    display: flex;
    cursor: pointer;
    animation: height-effect 0s both 1s;
}

@keyframes height-effect {
    0% {
        height: 0;
    }

    100% {
        height: auto;
    }
}

.menu-choice {
    display: flex;
    height: 75px;
    width: 100%;
    margin: 0;
    animation: margin-effect 1.5s both 1s;
}

@keyframes margin-effect {
    0% {
        margin: 0;
    }

    100% {
        margin: 10px 0;
    }
}


.menu-choice .title-h2,
.menu-choice .span-p {
    margin: 0;
    padding: 0;
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 32ch;
}

.title-price .price {
    font-weight: 500;
    overflow: visible;
    text-overflow: unset;
}



.title-price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left-menu-choice {
    display: flex;
    flex-shrink: 1;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    width: 100%;
    transition: all .2s ease-in-out;
}

.right-menu-choice {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    height: 100%;
    width: 0;
    background-color: var(--tertiary-color);
    border-radius: 0 20px 20px 0;
    overflow: hidden;
    transition: background-color .2s ease-out;
}

.round-validate {
    width: 25px;
    height: 25px;
    border-radius: 20px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s linear;
}

.round-validate i {
    color: var(--tertiary-color);
}



input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}

input[type="radio"]:checked+.menu-choice .left-menu-choice,
input[type="radio"]:hover+.menu-choice .left-menu-choice {
    width: calc(100% - 110px);
}

input[type="radio"]:hover+.menu-choice .right-menu-choice .round-validate {
    transform: rotate(360deg);
}

input[type="radio"]:checked+.menu-choice .right-menu-choice {
    background: var(--tertiary-color);
}

input[type="radio"]:checked+.menu-choice .right-menu-choice .round-validate i {
    color: var(--tertiary-color);
}


.section {
    opacity: 0;
    animation: loading-menu 1s both;
}

.section:nth-child(1) {
    animation-delay: 1s;
}

.section:nth-child(2) {
    animation-delay: 3s;
}

.section:nth-child(3) {
    animation-delay: 5s;
}


@keyframes loading-menu {

    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }


}

footer {
    display: flex;
    flex-direction: column;
    background-color: rgb(59, 59, 59);
    padding: 25px;
    margin: 0;
}

footer img {
    width: 120px;
    filter: invert(1);

}

footer ul li a {
    line-height: 30px;
    color: white;
}

footer ul li a i {
    padding-right: 10px;
    height: 20px;
    width: 20px;
}

/* ######################################## Le loading ########################################### */

.loader {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    position: absolute;
    left: 50%;
    top:50%;
    margin: 10px -50px;
    animation: loading-complete 0s both 3s;
}

@keyframes loading-complete {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

#loader-1:before,
#loader-1:after {
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border: 10px solid transparent;
    border-top-color: var(--primary-color);
}

#loader-1:before {
    z-index: 100;
    animation: spin 1s infinite;
}

#loader-1:after {
    border: 10px solid #ccc;
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/* ######################################## Le loading ########################################### */

@media screen and (min-width: 997px) {

    #logo {
        box-shadow: none;
        padding: 20px 0;
    }

    #logo img {
        width: auto;
    }

    #localisation {
        background-color: white;
    }

    #explore {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .explore-left {
        display: flex;
        margin: 0;
        width: 50%;
    }

    .explore-left-img {
        height: 100%;
        width: 100%;
        background: url("../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
        background-position: center;
        background-size: cover;
        filter: brightness(25%);
    }

    .explore-left-text {
        color: white;
        font-weight: 500;
        position: absolute;
        max-width: 35%;
        padding: 25px;
        z-index: 1;
        height: 13px;
        overflow: hidden;
        text-overflow: ellipsis;

    }

    .explore-left-text:hover{
        overflow: unset;
    }


    .explore-right {
        width: 50%;
    }

    #functioning {
        flex-direction: row;
    }

    .button-functioning {
        width: 30%;
    }

    .button-funtioning-list {
        flex-direction: row;
        justify-content: space-evenly;
    }

    .result-restaurant{
        width: 50%;
    }

    .section-desktop{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .back-to-index::before{
        content: "  Retour à la liste";
    }

    .title-menu-heart {
        padding: 28px 25%;
    }

    .menu-selector {
        padding: 0 25%;
    }

    input[type="radio"]:checked+.menu-choice .right-menu-choice {
        background: var(--primary-color);
    }

    input[type="radio"]:checked+.menu-choice .right-menu-choice .round-validate i {
        color: var(--primary-color);
    }
}

@media screen and (min-width: 481px) and (max-width: 996px) {

    #functioning {
        display: flex;
        flex-direction: column;
    }

    .title-menu-heart {
        padding: 28px 15%;
    }

    .menu-selector {
        padding: 0 15%;
    }
}