:root {
    --primary-color: #9356DC;
    --secondary-color: #FF79DA;
    --tertiary-color: #99E2D0;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

.primary-color {
    color: var(--primary-color);
}

.secondary-color {
    color: var(--secondary-color);
}

.tertiary-color {
    color: var(--tertiary-color);
}

p,
h1{
    margin: 5px 0;
}

p{
    font-weight: lighter;
}


header{
    display: flex;
    justify-content: space-between;
    padding: 25px 50px;
}

#logo,
#localisation{
    display: flex;
}

#logo img{
    width: 150px;
}

#localisation p{
    margin: 0;
    padding: 0 10px;
    font-weight: bold;
}

body {
    font-family: "Roboto";
    font-size: 16px;
    margin: 0;
    padding: 0;
}

a {
    color: black;
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
}

#explore{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f2f2f2;
    text-align: center;
    padding: 25px;
}

#explore p{
    color: grey;
}

.shadow{
      box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 10px;
}

.button {
  align-items: center;
  border: none;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 15px;
  margin: 20px;
  transition: all .2s;
}





.button-explore{
     background: linear-gradient(to bottom right, var(--secondary-color),var(--primary-color));
     border-radius: 100px;  
     color: #ffffff;  
     height: 50px;
    width: 200px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.button-explore:hover { 
    filter: brightness(85%);
}

.button:active {
  filter: brightness(50%);
}





#functioning{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 50px 25px;
}

.title-functioning{
    display: flex;
    width: 100%;
    flex:1;
}

.title-functioning h1{
    padding: 0;
}

.button-functioning{
    background-color: #f2f2f2;
    border-radius: 25px;  
    height: 75px;
    width: 350px;
    display: flex;
    justify-content: flex-start;
}

.button-functioning:hover{
    background-color: #9256dc15;
}

.button-functioning i{
    color: grey;
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 15px;
}

.button-functioning p{
    font-weight: bold;
    font-size: 20px;
}







.button-functioning .round-f{
    width: 20px;
    height: 20px;
    border-radius: 20px;
    position: relative;
    right: 15px;
    background: var(--primary-color);
    color: white;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#restaurant{
    display: flex;
    background-color: #f2f2f2;
    padding: 50px 0;
}

footer {
    display: flex;
    flex-direction: column;
    background-color: rgb(59, 59, 59);
    padding: 25px;
    margin: 0;
}
footer img{
    width: 120px;
    filter: invert(1);

}

footer ul li a {
    line-height: 30px;
    color: white    ;
}

footer ul li a i{
    padding-right: 10px;
    height: 20px;
    width: 20px;
}


@media screen and (max-width: 768px){

}

@media screen and (max-width: 480px) {
    
    header{
        flex-direction: column;
        padding: 0;
    }

    h1{
        font-size: 25px;
        padding: 0 25px;
    }

    #localisation, #logo{
        height: 50px;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    #logo{
        box-shadow: rgba(0, 0, 0, 0.14) 0px 3px 4px;;
    }

    #localisation{
        background-color: #e4e4e4;
        z-index: -1;
    }

    #functioning{
        flex-direction: column;
    }

    .button-functioning{
        width: 100%;
    }
}